# API
OPENROUTER_API_KEY=sk-****
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

# Rag envs
RAG_HOST=0.0.0.0
RAG_PORT=1274

# İndex envs
INDEXER_HOST=0.0.0.0
INDEXER_PORT=3334

# Indexer Service
DATA_DIR=./data
STORE_DIR=./shared/faiss_store
CHUNK_SIZE=500
CHUNK_OVERLAP=100
EMBEDDING_MODEL=openai/text-embedding-3-small

# RAG Service
LLM_MODEL=openai/gpt-4o-mini
TOP_K=5
